<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active News Sub-Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News Sub-Menu 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News Sub-Menu 3</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h3 class="card-title">When user clicks News tab, this Sub-Menu of News would shows with blocks of contents.</h3>
  </div>
  <h3 class="card-title">Until user click any of main menus, the navigation bar of this sub-menus won't show up.</h3>
</div>