<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Signup</h3>
      </div>
      <div class="card-body">
        <div class="form">
          <div class="form-group">
            <label for="">First Name</label>
            <input [(ngModel)]="signupUserData.firstname" type="text" class="form-control rounded-0 required">
          </div>
          <div class="form-group">
            <label for="">Last Name</label>
            <input [(ngModel)]="signupUserData.lastname" type="text" class="form-control rounded-0 required">
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input [(ngModel)]="signupUserData.email" type="text" class="form-control rounded-0 required email">
          </div>
          <div class="form-group">
            <label for="">Username</label>
            <input [(ngModel)]="signupUserData.username" type="text" class="form-control rounded-0 required">
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input [(ngModel)]="signupUserData.password" type="password" class="form-control rounded-0 required">
          </div>
          <button (click)="onSignup()" type="button" class="btn btn-success float-right">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>