<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Ping-Pong</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/posts" routerLinkActive="active">Posts</a>
            </li>
          </ul>
          <ul class="navbar-nav">
              <a *ngIf="!usersService.loggedIn()" class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
              <a *ngIf="!usersService.loggedIn()" class="nav-link" routerLink="/signup" routerLinkActive="active">Signup</a>
              <a *ngIf="usersService.loggedIn()" class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
              <a *ngIf="usersService.loggedIn()" class="nav-link" style="cursor: pointer" (click)="logoutUser()">Logout</a>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="container">
</div>
