

<nav class="navbar navbar-default">
  <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Blog Logo</a>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">News</a>
        </li>
        <li>
            <a href="#">Business</a>
        </li>
        <li>
            <a href="#">Entertainment</a>
        </li>
        <li>
            <a href="#">Money</a>
        </li>
        <li>
            <a href="#">Travel</a>
        </li>
        <li>
            <a href="#">Cars</a>
        </li>
        <li>
            <a href="#">Vacation</a>
        </li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">Subscribe</a>
            </li>
            <li>
                <a href="#">Login</a>
            </li>
      </ul>
  </div>
</nav>

